.err-msg {
    max-width: 900px;
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding-bottom: 20px;
}

#topErrors .input-group {
    margin-top: 20px;
}

.input-group-addon {
    min-width: 150px;
    text-align: left;
}

.modal-lg
{
    width: 95%;
}
